---
layout: default
title: Componentes
description: Documentação dos componentes reutilizáveis construídos com base no Thymeleaf, Bootstrap, Html 5, CSS 3 e JS. 
---

<section class="bs-docs-section">
  <h1 id="Introdução" class="page-header">Introdução</h1>

  <div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
    <h4 id="alternate-elements">Atenção!</h4>
    <p>
    	Todos os componentes listados na documentação são formados por um conjunto de de tecnologias que juntas
    	vão oferecer uma melhoria na agilidade do desenvolvimento de formulários e tela.
    </p>
    <p>
    	Para que seja possível uma boa compreenção do que está por trás dos nossos componentes de front-end é
    	recomendável que você estudo as tecnologias listadas abaixo:
    </p>
	<ul>
		<li> <b>Twitter Bootstrap</b> - Usado como framework base do nosso front-end, ou seja nosso tema é uma extensão direta dele.
			<ul>
				<li> <a href="http://getbootstrap.com/" target="_blank">Documentação</a> </li>
			</ul>
	    </li>
	    </br>
	    <li> <b>Thymeleaf</b> - É um template engine para XHTML e HTML5 que pode trabalhar tanto em ambientes web e não web. Ele  possui um módulo para integração com Spring MVC, de modo que você pode usá-lo como um substituto das famosas JSP's.

			<ul>
				<li> <a href="http://www.thymeleaf.org/documentation.html" target="_blank">Documentação</a> </li>
				<li> <a href="http://itutorial.thymeleaf.org/" target="_blank">Tutorial Interativo</a> </li>
				<li> <a href="https://github.com/thymeleaf/thymeleaf-extras-eclipse-plugin" target="_blank">Plugin para Eclipse</a> </li>
			</ul>
	    </li>
	    </br>
	    <li> <b>HTML 5</b> - Nova especificação do HTML.

			<ul>
				<li> <a href="http://www.w3schools.com/html/html5_intro.asp" target="_blank">Documentação pela W3schools</a> </li>
				<li> <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML/HTML5" target="_blank">Documentação / Tutoriais pela Mozilla</a> </li>
			</ul>
	    </li>
	    </br>
	    <li> <b>CSS 3</b> - Nova especificação do CSS.

			<ul>
				<li> <a href="http://www.w3schools.com/css/css3_intro.asp" target="_blank">Documentação pela W3schools</a> </li>
				<li> <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS" target="_blank">Documentação / Tutoriais pela Mozilla</a> </li>
			</ul>
	    </li>
 		</br>
	    <li> <b>LESS</b> - A linguagem dinâmica de estilos.

			<ul>
				<li> <a href="http://lesscss.org/" target="_blank">Documentação</a> </li>
				<li> <a href="http://lesscss.loopinfinito.com.br/" target="_blank">Mini curso</a> </li>
			</ul>
	    </li>

	    </br>
	    <li> <b>JavaScript</b>
			<ul>
				<li> <a href="http://www.w3schools.com/js/" target="_blank">Documentação pela W3schools</a> </li>
				<li> <a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" target="_blank">Documentação / Tutoriais pela Mozilla</a> </li>
			</ul>
	    </li>

	    </br>
	    <li> <b>jQuery</b>
			<ul>
				<li> <a href="http://try.jquery.com/" target="_blank">Curso gratuito</a> </li>
				<li> <a href="http://api.jquery.com/" target="_blank">Documentação</a> </li>
				<li> <a href="http://www.w3schools.com/jquery/" target="_blank">Documentação pela W3schools</a> </li>
			</ul>
	    </li>
	</ul>
  </div>

</section>


<!-- Temporal ==================================================================================================== -->
<section class="bs-docs-section">
  <h1 id="temporal" class="page-header">Temporal</h1>

   <blockquote>
    Fornecer componentes para entradas do tipo data, período e temporal.
  </blockquote>

  <h2 id="time-field-doc">Time Field</h2>
  <p>Time field fornece um componente para entrada de dados temporal como horas, minutos e etc...</p>
  <p>O componente foi criado usando a lib <a href="http://jdewit.github.io/bootstrap-timepicker/" target="_blank">Bootstrap Timepicker</a></p>
	<div class="bs-example" >
		<div class="row">
		  <div class="col-xs-4 col-md-2">
				<div class="form-group">
					<div>
						<label class="control-label" for="Modulo Server Front Module">
							<span>Horário</span>
						</label>
					</div>
				
					<div class="bootstrap-timepicker">
						<input type="text" class="form-control time-field" id="horarioInicial" data-minute-step="1" data-default-time="false" data-template="false" name="horarioInicial" value="">
							   
					    <input type="hidden" class="form-control" id="previous-value-horarioInicial" disabled="disabled" name="horarioInicial" value="">
					</div>
				</div>
			</div>
		</div>
	</div>
{% highlight html %}
<div class="col-sm-3 col-md-3 col-lg-2">
	<div th:replace="fragments/layout-temporal :: time-field(
								field='${objeto.atributo}',
								idField=horario, 
								label=horario, 
								minuteStep=1,
								template=false)">
	</div>
</div>
{% endhighlight %}

<h2>Atributos / Opções</h2>
<p>Atributos com <b>*</b> são obrigatórios.</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Atributo</th>
          <th>Tipo</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>label</td>
          <td>messages.properties</td>
          <td>String que faz referência ao messages/internacionalização do módulo.</td>
        </tr>

        <tr>
          <td>field</td>
          <td>th:field</td>
          <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding.</td>
        </tr>

        <tr>
          <td>idField</td>
          <td>String</td>
          <td>Id do input, o mesmo deve ser único.</td>
        </tr>

		    <tr>
          <td>disabled</td>
          <td>Boolean</td>
          <td>Informa se o elemento está desativado ou não.</td>
        </tr>

        <tr>
          <td>name</td>
          <td>String</td>
          <td>Name do elemento HTML.</td>
        </tr>

		    <tr>
          <td>placeholder</td>
          <td>String</td>
          <td>Placeholder do input.</td>
        </tr>

        <tr>
          <td>required</td>
          <td>Boolean</td>
          <td>Informa se o elemento é obrigatório ou não.</td>
        </tr>

		    <tr>
          <td>onchange</td>
          <td>Função</td>
          <td>Nome da funação que será invocada no evento onchange do input, caso os valores sejam modificados.</td>
        </tr>

        <tr>
          <td>idcomponente</td>
          <td>String</td>
          <td>Id da label, o mesmo deve ser único.</td>
        </tr>


        <tr>
          <td>autofocus</td>
          <td>Boolean</td>
          <td>Define foco automático no input.</td>
        </tr>

		    <tr>
          <td>minute-step</td>
          <td>Integer</td>
          <td>Define o a iteração dos minutos. Ex: minute-step=5, só valores de 5 em 5.</td>
        </tr>
        
        <tr>
          <td>template</td>
          <td>Boolean</td>
          <td>Recomendado false. Para mais informações veja a documentação no tópico <a href="http://jdewit.github.io/bootstrap-timepicker/" target="_blank">template</a>.</td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- Date-Field ================================================================================================= -->
<h2 id="date-field-doc">Date Field</h2>
<p>Date field fornece um componente para entrada de datas no formato: dd/mm/yyyy</p>

<p>O componente foi criado usando a libs: <a href="http://bootstrap-datepicker.readthedocs.org/" target="_blank">Bootstrap datepicker</a>, <a href="http://bootstrapvalidator.com" target="_blank">Bootstrap Validator</a>
  </p>
  <div class="bs-example" >
    <div class="row">

      <div class="col-xs-4">
        <div class="date-field form-group">
          <div>
            <label class="control-label required" for="dataConsulta" id="dataConsultaLabel">
              <span>Data da Consulta</span>
            </label>
          </div>
          
          <div class="input-group date ui-datepicker date-field">
            <input type="text" class="form-control data-field-input" id="dataConsulta" name="dataConsulta" data-bv-notempty="true" autocomplete="off" data-bv-field="dataConsulta">
            
            <span class="input-group-addon btn" id="iconeDateField">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
{% highlight html %}
<div class="col-xs-4">
  <div th:replace="fragments/layout-temporal :: date-field(
                                                            field='${objeto.dataConsulta}', 
                                                            idField='dataConsulta',
                                                            label=dataConsulta, 
                                                            idIcon=iconeDateField, 
                                                            required=true">)">
  </div>
</div>
{% endhighlight %}

<h2>Atributos / Opções</h2>
<p>Atributos com <b>*</b> são obrigatórios.</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Atributo</th>
          <th>Tipo</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>label</td>
          <td>messages.properties</td>
          <td>String que faz referência ao messages/internacionalização do módulo.</td>
        </tr>

        <tr>
          <td>field</td>
          <td>th:field</td>
          <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding.</td>
        </tr>

        <tr>
          <td>idField</td>
          <td>String</td>
          <td>Id do input, o mesmo deve ser único.</td>
        </tr>

        <tr>
          <td>disabled</td>
          <td>Boolean</td>
          <td>Informa se o elemento está desativado ou não.</td>
        </tr>

        <tr>
          <td>name</td>
          <td>String</td>
          <td>Name do elemento HTML.</td>
        </tr>

         <tr>
          <td>placeholder</td>
          <td>String</td>
          <td>Placeholder do input.</td>
        </tr>

        <tr>
          <td>required</td>
          <td>Boolean</td> 
          <td>Informa se o elemento é obrigatório ou não.</td>
        </tr>
        
        <tr>
          <td>autofocus</td>
          <td>Boolean</td>
          <td>Define foco automático no input.</td>
        </tr>

        <tr>
          <td>withLabel</td>
          <td>Boolean</td>
          <td>Define ser haverá label ou não.</td>
        </tr>

        <tr>
          <td>idIcon</td>
          <td>String</td>
          <td>Id do icone do calendário.</td>
        </tr>

        <tr>
          <td>disabledIcon</td>
          <td>String</td>
          <td>Id do icone do calendário.</td>
        </tr>

        <tr>
          <td>startDate</td>
          <td>String</td>
          <td>Data inicial do calendário.</td>
        </tr>

        <tr>
          <td>endDate</td>
          <td>String</td>
          <td>Data final do calendário.</td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- Date-Field-Peiodo================================================================================================= -->
<h2 id="date-field-periodo-docs">Date Field Periodo</h2>
<p>Date field fornece um conjunto de componentes para entrada de períodos de datas no formato: dd/mm/yyyy</p>
<p>Ao selecinar a primeira data a segunda só permitirá data apartir da data selecionada inicialmente.</p>
</br>
<p>O componente foi criado usando a libs: <a href="http://bootstrap-datepicker.readthedocs.org/" target="_blank">Bootstrap datepicker</a>, <a href="http://bootstrapvalidator.com" target="_blank">Bootstrap Validator</a>
  </p>
  <div class="bs-example" >
    <div class="row">
      <form id="formDateFieldPeriodo">
        <div class="col-xs-6">
          <div class="date-field-periodo input-daterange form-group pull-left">
            <label class="input-group control-label required" for="Modulo Server Front Module" id="dataInicioLabel">
              <span>Período de datas</span>
            </label>
            <div class="input-group date">
              <input class="input-small form-control create-date-picker-start-date" type="text" id="dataInicio" data-bv-notempty="true" data-idform="listForm" data-requiredperiodo="true" name="horarioInicial" value="" autocomplete="off" data-bv-field="horarioInicial">

              <div class="input-group-addon calendar btn startDate" data-target="dataInicio">
                <span class="glyphicon glyphicon-calendar"></span>
              </div>
              
              <span class="input-group-addon to">&nbsp; a &nbsp;</span>
               
              <input class="input-small form-control create-date-picker-end-date" type="text" id="dataFim" data-idform="formDateFieldPeriodo" data-requiredPeriodoEndDate="true"name="horarioInicial" value="" autocomplete="off" data-bv-field="horarioInicial">
               
              <div class="input-group-addon calendar btn endDate" data-target="dataFim">
                <span class="glyphicon glyphicon-calendar"></span>
              </div>
            </div>
            <small class="help-block" data-bv-validator="notEmpty" data-bv-for="horarioInicial" data-bv-result="NOT_VALIDATED" style="display: none;">Por favor insira um valor</small>
          </div>
        </div>
      </form>
    </div>
  </div>
{% highlight html %}
<div class="col-xs-4">
  <div th:replace="fragments/layout-temporal :: date-field-periodo(
                                                                    idField='dataInicio', 
                                                                    idFieldEndDate='dataFim', 
                                                                    labelPeriodo=periodoDatas, 
                                                                    field='${objeto.dataDeInicio}', 
                                                                    fieldEndDate='${objeto.dataFinal}', 
                                                                    idForm='formDateFieldPeriodo',
                                                                    requiredPeriodo=true,
                                                                    requiredPeriodoEndDate=true)">
  </div>
</div>
{% endhighlight %}

<h2>Atributos / Opções</h2>
<p>Atributos com <b>*</b> são obrigatórios.</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Atributo</th>
          <th>Tipo</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>labelPeriodo</td>
          <td>messages.properties</td>
          <td>String que faz referência ao messages/internacionalização do módulo.</td>
        </tr>

        <tr>
          <td>field</td>
          <td>th:field</td>
          <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding da primeira data.</td>
        </tr>

        <tr>
          <td>fieldEndDate</td>
          <td>th:field</td>
          <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding da segunda data.</td>
        </tr>

        <tr>
          <td>idField</td>
          <td>String</td>
          <td>Id do input da primeira data, o mesmo deve ser único.</td>
        </tr>

        <tr>
          <td>idFieldEndDate</td>
          <td>String</td>
          <td>Id do input da segunda data, o mesmo deve ser único.</td>
        </tr>

        <tr>
          <td>placeholder</td>
          <td>String</td>
          <td>Placeholder da primeira data.</td>
        </tr>

        <tr>
          <td>placeholderEndDate</td>
          <td>String</td>
          <td>Placeholder da segunda data.</td>
        </tr>

        <tr>
          <td>requiredPeriodo</td>
          <td>Boolean</td> 
          <td>Informa se a primeira data do período é obrigatório ou não.</td>
        </tr>
        
        <tr>
          <td>requiredPeriodoEndDate</td>
          <td>Boolean</td> 
          <td>Informa se a segunda data do período é obrigatório ou não.</td>
        </tr>
        
        <tr>
          <td>autofocus</td>
          <td>Boolean</td>
          <td>Define foco automático na primeira data.</td>
        </tr>

        <tr>
          <td>autofocusEndDate</td>
          <td>Boolean</td>
          <td>Define foco automático no input da segunda data.</td>
        </tr>
  
        <tr>
          <td>startDate</td>
          <td>String</td>
          <td>Data inicial do calendário.</td>
        </tr>

        <tr>
          <td>endDate</td>
          <td>String</td>
          <td>Data final do calendário.</td>
        </tr>

         <tr>
          <td>disabledStartDate</td>
          <td>Boolean</td>
          <td>Informa se a primeira data está ativa ou não.</td>
        </tr>

        <tr>
          <td>disabledEndDate</td>
          <td>Boolean</td>
          <td>Informa se a segunda data está ativa ou não.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="bs-docs-section">
  <h1 id="inputs" class="page-header">Input</h1>

   <blockquote>
    Fornecer componentes como autocomplete, inputs do tipo texto e numérico.
  </blockquote>

  <div class="bs-callout bs-callout-warning">
    <h2 id="input-helper-doc">Helper class</h2>
    <p>Segue algumas classes para auxiliar a criação de determinados tipos de inputs para entradas de dados específicos.</p>
    <ul>
      <li>
        <code>.numbersOnly'</code> - Para campos que permitem apenas números.
      </li>
      <li>
        <code>.cns'</code> - Formatação para campos CNS. EX: 999.9999.9999.9999;
      </li>
      <li>
        <code>.cpf'</code> - Formatação para campos CPF. EX: 999.999.999-99;
      </li>
    </ul>
  </div>

  <h2 id="text-field-doc">Text field</h2>
  <p>Text field fornece um componente para entrada de dados do tipo texto.</p>

  <div class="bs-example" >
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <div>
            <label class="control-label" id="descFrequenciaLabel">
              <span>Texto</span>
            </label>
          </div>
          
          <div> 
            <input type="text" class="form-control" id="descFrequencia" maxlength="50" autocomplete="off" name="descricaoFrequencia" value="" data-bv-field="descricaoFrequencia">
          </div>
          <small class="help-block" data-bv-validator="stringLength" data-bv-for="descricaoFrequencia" data-bv-result="NOT_VALIDATED" style="display: none;">
            Por favor insira um valor com comprimento válido
          </small>
        </div>  
      </div>
    </div>
  </div>
{% highlight html %}
<div class="col-xs-4">
  <div th:replace="fragments/layout-input :: text-field(
                                                        idField=idText, 
                                                        label=labelText, 
                                                        maxLength=50,
                                                        field='${object.atribute}')">
  </div>
</div>
{% endhighlight %}

<h2>Atributos / Opções</h2>
<p>Atributos com <b>*</b> são obrigatórios.</p>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="col-xs-1">
      <col class="col-xs-1">
      <col class="col-xs-7">
    </colgroup>
    <thead>
      <tr>
        <th>Atributo</th>
        <th>Tipo</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>label</td>
        <td>messages.properties</td>
        <td>String que faz referência ao messages/internacionalização do módulo.</td>
      </tr>

      <tr>
        <td>field</td>
        <td>th:field</td>
        <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding.</td>
      </tr>

      <tr>
        <td>idField</td>
        <td>String</td>
        <td>Id do input, o mesmo deve ser único.</td>
      </tr>

      <tr>
        <td>disabled</td>
        <td>Boolean</td>
        <td>Informa se o elemento está desativado ou não.</td>
      </tr>

      <tr>
        <td>nameField</td>
        <td>String</td>
        <td>Name do elemento HTML.</td>
      </tr>

      <tr>
        <td>placeholder</td>
        <td>String</td>
        <td>Placeholder do input.</td>
      </tr>

      <tr>
        <td>required</td>
        <td>Boolean</td>
        <td>Informa se o elemento é obrigatório ou não.</td>
      </tr>
      
      <tr>
        <td>autofocus</td>
        <td>Boolean</td>
        <td>Define foco automático no input.</td>
      </tr>

      <tr>
        <td>maxLength</td>
        <td>Integer</td>
        <td>Qunatidade máxima de caracteres.</td>
      </tr>

      <tr>
        <td>readonly</td>
        <td>Boolean</td>
        <td>Define se o campo é somente leitura.</td>
      </tr>

      <tr>
        <td>autocomplete</td>
        <td>Boolean</td>
        <td>Habilita autocmoplete do html.</td>
      </tr>

      <tr>
        <td>numRows</td>
        <td>Integer</td>
        <td>Caso esse atributo seja declara o input será substituido por uma textarea onde a quantidade de linhas 
        será definida pelo numRows.</td>
      </tr>

      <tr>
        <td>pattern</td>
        <td>Expressão regular</td>
        <td>Expressão regular aplicada ao input. Mais informações no <a href="http://www.w3schools.com/tags/att_input_pattern.asp" target="_blank">aqui</a>. </td>
      </tr>

    </tbody>
  </table>
</div>

<h2 id="text-number-field-doc">Text Number field</h2>
  <p>Text Number Field fornece um componente para entrada de dados numéricos em um input text.</p>

  <div class="bs-example" >
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <div>
            <label class="control-label" id="periodicidadeHorasLabel">
              <span>Numérico</span>
            </label>
          </div>
          
          <div>
            <input type="text" class="form-control numbersOnly" data-fv-notempty-message="The gender is required" id="numerico" maxlength="2" autocomplete="off" name="periodicidade" value="" data-bv-field="periodicidade"> 
          </div>
        </div>
      </div>
    </div>
  </div>
{% highlight html %}
<div class="col-xs-4">
  <div th:replace="fragments/layout-input :: text-number-field(
                                                                idField=idNumerico, 
                                                                label=labelNumerico, 
                                                                field='${object.atribute}',
                                                                minValue=1, 
                                                                maxLength=2, 
                                                                maxValue=24)">
  </div>
</div>
{% endhighlight %}

<h2>Atributos / Opções</h2>
<p>Atributos com <b>*</b> são obrigatórios.</p>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="col-xs-1">
      <col class="col-xs-1">
      <col class="col-xs-7">
    </colgroup>
    <thead>
      <tr>
        <th>Atributo</th>
        <th>Tipo</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>label</td>
        <td>messages.properties</td>
        <td>String que faz referência ao messages/internacionalização do módulo.</td>
      </tr>

      <tr>
        <td>field</td>
        <td>th:field</td>
        <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding.</td>
      </tr>

      <tr>
        <td>idField</td>
        <td>String</td>
        <td>Id do input, o mesmo deve ser único.</td>
      </tr>

      <tr>
        <td>disabled</td>
        <td>Boolean</td>
        <td>Informa se o elemento está desativado ou não.</td>
      </tr>

      <tr>
        <td>nameField</td>
        <td>String</td>
        <td>Name do elemento HTML.</td>
      </tr>

      <tr>
        <td>placeholder</td>
        <td>String</td>
        <td>Placeholder do input.</td>
      </tr>

      <tr>
        <td>required</td>
        <td>Boolean</td>
        <td>Informa se o elemento é obrigatório ou não.</td>
      </tr>
      
      <tr>
        <td>autofocus</td>
        <td>Boolean</td>
        <td>Define foco automático no input.</td>
      </tr>

      <tr>
        <td>maxLength</td>
        <td>Integer</td>
        <td>Qunatidade máxima de caracteres.</td>
      </tr>

      <tr>
        <td>readonly</td>
        <td>Boolean</td>
        <td>Define se o campo é somente leitura.</td>
      </tr>

      <tr>
        <td>autocomplete</td>
        <td>Boolean</td>
        <td>Habilita autocmoplete do html.</td>
      </tr>

    </tbody>
  </table>
</div>

<h2 id="number-field-doc">Number field</h2>
  <p>Number Field fornece um componente para entrada de dados numéricos.</p>

  <div class="bs-example" >
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group number-field">
            <div>
              <label class="control-label" id="numericoLabel">
                <span>Campo Numérico</span>
              </label>
            </div>
            
            <div>
              <input type="number" class="form-control" id="periodicidadeHoras" maxlength="2" min="1" max="24" name="idNumericoField" value="" data-bv-field="idNumericoField">
            </div>
        </div>
      </div>
    </div>
  </div>
{% highlight html %}
<div class="col-xs-4">
  <div th:replace="fragments/layout-input :: number-field(
                                                          idField=idNumerico, 
                                                          label=labelNumerico, 
                                                          field='${object.atribute}',
                                                          minValue=1, 
                                                          maxLength=2, 
                                                          maxValue=24)">
  </div>
</div>
{% endhighlight %}

<h2>Atributos / Opções</h2>
<p>Atributos com <b>*</b> são obrigatórios.</p>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="col-xs-1">
      <col class="col-xs-1">
      <col class="col-xs-7">
    </colgroup>
    <thead>
      <tr>
        <th>Atributo</th>
        <th>Tipo</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>label</td>
        <td>messages.properties</td>
        <td>String que faz referência ao messages/internacionalização do módulo.</td>
      </tr>

      <tr>
        <td>field</td>
        <td>th:field</td>
        <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding.</td>
      </tr>

      <tr>
        <td>idField</td>
        <td>String</td>
        <td>Id do input, o mesmo deve ser único.</td>
      </tr>

      <tr>
        <td>disabled</td>
        <td>Boolean</td>
        <td>Informa se o elemento está desativado ou não.</td>
      </tr>

      <tr>
        <td>nameField</td>
        <td>String</td>
        <td>Name do elemento HTML.</td>
      </tr>

      <tr>
        <td>placeholder</td>
        <td>String</td>
        <td>Placeholder do input.</td>
      </tr>

      <tr>
        <td>required</td>
        <td>Boolean</td>
        <td>Informa se o elemento é obrigatório ou não.</td>
      </tr>
      
      <tr>
        <td>autofocus</td>
        <td>Boolean</td>
        <td>Define foco automático no input.</td>
      </tr>

      <tr>
        <td>minValue</td>
        <td>Numérico</td>
        <td>Especifica um valor mínimo para o input. Mais informações <a href="http://www.w3schools.com/tags/att_input_min.asp" target="_blank"> aqui</a>.</td>
      </tr>

      <tr>
        <td>maxValue</td>
        <td>Numérico</td>
        <td>Especifica um valor mínimo para o input. Mais informações <a href="http://www.w3schools.com/tags/att_input_min.asp" target="_blank"> aqui</a>.</td>
      </tr>

      <tr>
        <td>maxLength</td>
        <td>Numérico</td>
        <td>Especifica quantidade máxima de caracteres do input.<a href="http://www.w3schools.com/tags/att_input_maxlength.asp" target="_blank"> aqui</a>.</td>
      </tr>

      <tr>
        <td>onchange</td>
        <td>Função</td>
        <td>Nome da funação que será invocada no evento onchange do input, caso os valores sejam modificados.</td>
      </tr>

    </tbody>
  </table>
</div>

<h2 id="autocomplete-doc">Autocomplete</h2>
  <p>//TODO</p>

  <div class="bs-example" >
    <div class="row">
      //TODO
    </div>
  </div>
{% highlight html %}
<div class="col-xs-4">
//TODO
</div>
{% endhighlight %}

<h2>Atributos / Opções</h2>
<p>Atributos com <b>*</b> são obrigatórios.</p>
//TODO
</section>

<section class="bs-docs-section">
  <h1 id="Selectable" class="page-header">Selectable</h1>
  <blockquote>
    Fornecer componentes para entradas como list( select ), checkbox e radio. 
  </blockquote>


  <h2 id="select-field-doc">Select Field</h2>
    <p>Select Field fornece um componente select do html com auxílio do data bind do thymeleaf para gerar os options dinâmicamente.</p>

    <div class="bs-example" >
    <div class="row">
      <div class="col-xs-4 col-md-4">
        <div class="form-group">
          <div>
            <label class="control-label" for="id">
              <span>Select</span>
            </label>
          </div>
          <select class="form-control select-field" name="id" id="id" data-bv-notempty="false" >
               <option value="">TODOS</option>
               <option value="14">3 X AO DIA</option>
               <option value="16">8 / 8 HORAS - 10 HORAS</option>
               <option value="13">4 / 4 HORA INICIANDO 10:00</option>
               <option value="28">2 X AO DIA</option>
               <option value="23">1 X AO DIA </option>
          </select>
        </div>        
      </div>
    </div>
    </div>
  {% highlight html %}
  <div class="col-xs-4">
      <div th:replace="fragments/layout-selectable :: select-field(
                                                                      label=labelDoSelect, 
                                                                      field='${itemDoSelect}',
                                                                      list=${listOuEnums}, 
                                                                      text='atributoParaTextoDoOption', 
                                                                      value='atributoParaValueDoOption', 
                                                                      prompt=true, 
                                                                      textPrompt='TODOS',
                                                                      required=false)">
      </div>
  </div>
  {% endhighlight %}

  <h2>Atributos / Opções</h2>
  <p>Atributos com <b>*</b> são obrigatórios.</p>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-1">
        <col class="col-xs-1">
        <col class="col-xs-7">
      </colgroup>
      <thead>
        <tr>
          <th>Atributo</th>
          <th>Tipo</th>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>label</td>
          <td>messages.properties</td>
          <td>String que faz referência ao messages/internacionalização do módulo.</td>
        </tr>

        <tr>
          <td>field</td>
          <td>th:field</td>
          <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding. <b>Nesse caso será o elemento selecionado da lista.</b></td>
        </tr>

        <tr>
          <td>list</td>
          <td>th:each</td>
          <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding. <b>Nesse caso será a lista de elementos dos options do select.</b></td>
        </tr>

         <tr>
          <td>listEnum</td>
          <td>th:each</td>
          <td>Atributo do bean que faz a integração do Spring MVC ou seja o binding. <b>Nesse caso será a lista de elementos dos options do select. Essa opção só deve ser usada no caso da lista for do tipo Enum.</b></td>
        </tr>

        <tr>
          <td>idcomponente</td>
          <td>String</td>
          <td>Id do select, o mesmo deve ser único.</td>
        </tr>

        <tr>
          <td>disabled</td>
          <td>Boolean</td>
          <td>Informa se o elemento está desativado ou não.</td>
        </tr>

        <tr>
          <td>nameField</td>
          <td>String</td>
          <td>Name do elemento HTML.</td>
        </tr>

        <tr>
          <td>placeholder</td>
          <td>String</td>
          <td>Placeholder do input.</td>
        </tr>

        <tr>
          <td>required</td>
          <td>Boolean</td>
          <td>Informa se o elemento é obrigatório ou não.</td>
        </tr>
        
        <tr>
          <td>autofocus</td>
          <td>Boolean</td>
          <td>Define foco automático no input.</td>
        </tr>

        <tr>
          <td>prompt</td>
          <td>Boolean</td>
          <td>Informa se o select terá texto padrão ou não. No caso do exemplo é o TODOS.</td>
        </tr>

        <tr>
          <td>textPrompt</td>
          <td>String</td>
          <td>Texto padrão que será usado no select. No caso é texto do option padrão.</td>
        </tr>

        <tr>
          <td>valuePrompt</td>
          <td>String</td>
          <td>Value padrão que será usado no select. No caso é value do option padrão.</td>
        </tr>

        <tr>
          <td>onchange</td>
          <td>Função</td>
          <td>Nome da funação que será invocada no evento onchange do input, caso os valores sejam modificados.</td>
        </tr>

        <tr>
          <td>onblur</td>
          <td>Função</td>
          <td>Nome da funação que será invocada no evento onchange do input, caso os valores sejam modificados.</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>