<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	class="no-js">

<head>
	<th:block th:include="fragments/layout :: htmlhead"></th:block>
	
	<!-- Bootstrap-Modal- -->
	<link th:href="@{/webjars/bootstrap-modal/2.2.5/css/bootstrap-modal-bs3patch.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/bootstrap-modal/2.2.5/css/bootstrap-modal.css}" rel="stylesheet"/>  
</head>

<body>
	<div id="selecaoVinculo" class="modal fade" tabindex="-1"
		data-backdrop="static" data-keyboard="false" style="display: none; top: 40%;" data-width="auto">
		<div class="modal-body">
			<form id="listForm" class="form fill" action="#" th:object="${usuario}">
				<div class="table-responsive" id="results">
					<div class="col-xs-* col-md-*">
						<table
							class="table table-condensed table-bordered table-striped table-hover" style="margin-bottom: 0px;">
							<thead>
								<tr>
									<th th:text="#{vinculo}"></th>
									<th th:text="#{estabelecimento}"></th>
									<th th:text="#{selecionar}"></th>
								</tr>
							</thead>

							<tbody>
								<tr	th:each="vinculoProfissional : ${usuario.cidadao.profissionalSigas.vinculoProfissionals}">
									<td th:text="${vinculoProfissional.ocupacao.nome}"></td>
									<td	th:text="${vinculoProfissional.estabelecimento.nomeFantasia}"></td>
									<td>
										<a th:href="@{/login/selectedVinculo(id=${vinculoProfissional.id})}"
											class="btn btn-default" type="button" style="margin-left: 22%;"> 
											<i class="fa fa-check-square mv-color-green"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
		</div>
	</div>

	<th:block th:replace="fragments/layout :: scripts"></th:block>
	
	<!-- Bootstrap-Modal- -->
	<script type="text/javascript" charset="UTF-8" th:src="@{/webjars/bootstrap-modal/2.2.5/js/bootstrap-modal.js}"></script>
	<script type="text/javascript" charset="UTF-8" th:src="@{/webjars/bootstrap-modal/2.2.5/js/bootstrap-modalmanager.js}"></script>
		
	<script>
		$(document).ready(function() {
			$('#selecaoVinculo').modal('show');
		});
	</script>
</body>
</html>