<!DOCTYPE html>
<html lang="pt-BR"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute"
 class="no-js">
<meta charset="UTF-8"/>
<body>
	<!-- Select-Field -->
	<div class="form-group" th:fragment="select-field">
		<div>
			<label th:if="${idcomponente}" class="control-label" th:classappend="${required} ? 'required' : ''" for="${nameField}"
			       th:id="__${idcomponente}__+Label">
				<span th:text="#{${label}}"></span>
			</label>
			
			<label th:unless="${idcomponente}" class="control-label" th:classappend="${required} ? 'required' : ''" for="${nameField}">
				<span th:text="#{${label}}"></span>
			</label>
		</div>
		
		<select th:name="${nameField}" th:field="__${field}__" class="form-control select-field" th:title="${title}"
			    th:disabled="${disabled}" data:bv-notempty="${required}" th:autofocus="${autofocus}" 
			    th:onblur="${onblur}" th:onchange="${onchange}" th:placeholder="${placeholder}" th:id="${idcomponente}">
			   <option th:if="${prompt}" th:text="${textPrompt}" th:value="${valuePrompt}" />
			   <option th:if="${list}" th:each="i : ${list}" th:text="${i.__${text}__}" th:value="${i.__${value}__}"/>
			   <option th:if="${listEnum}" th:each="i : ${listEnum}" th:text="#{${i}}" th:value="${i}"/>
		</select>
		<!--  <input th:hidden="true" th:id="${idField}" th:value="${fieldid}" /> -->
	</div>
	
	
	<!-- Checkbox-Field -->
	<div class="checkbox" th:classappend="${addClassCss}" th:fragment="checkbox-field">
		<input  type="checkbox" 
				th:id="${idField}"
				th:name="${nameField}"
				th:disabled="${disabled}"
				th:field="__${field}__" 
				th:value="__${value}__" 
				th:autofocus="${autofocus}"
				data:bv-notempty="${required}"/> 
				
		<label th:for="${nameField}">
			<span th:text="#{${label}}" ></span>
		</label>
	</div>
	
	
	<!-- Radio-Field -->
	<div class="radio radio-inline" th:classappend="${addClassCss}" th:fragment="radio-field">
		<input  type="radio" 
				th:id="${idField}"
				th:name="${nameField}"
				th:disabled="${disabled}" 
				th:field="__${field}__"
				th:value="__${value}__" 
				th:autofocus="${autofocus}"
				data:bv-notempty="${required}" /> 
			
		<label th:for="${nameField}"> 
			<span th:text="${label} != null ?  #{${label}}:#{geral.sim}"></span>
		</label>
	</div>
</body>
</html>