<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">

<div id="page-wrapper" th:fragment="progress-modal">
	<div id="progressModal" class="modal fade" data-backdrop="static" data-keyboard="false">
		<div class="modal-body" style="height: 57px">
			<div class="progress" style="height: 22px">
				<div class="progress-bar progress-bar-striped active" role="progressbar" style="height: 22px; width: 100%">Carregando...</div>
			</div>
		</div>
	</div>
</div>
</html>