<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
 class="no-js">
<meta charset="UTF-8"/>
<body>

<!-- Autocomplete -->
<div class="form-group" th:fragment="autocomplete">
	<div>
		<label th:if="${idCampo}" class="control-label" th:classappend="${required} ? 'required' : ''" for="${name}"
		       th:id="__${idCampo}__+Label">
			<span th:text="#{${label}}"></span>
		</label>
		
		<label th:unless="${idCampo}" class="control-label" th:classappend="${required} ? 'required' : ''" for="${name}">
			<span th:text="#{${label}}"></span>
		</label>
	</div>

	<div class="form-group">
		<input th:if="${required}" th:required="${required}" th:name="${nameHidden}" th:hidden="true" th:field="*{__${fieldHidden}__}" th:id="${idHidden}" data-bv-notempty="true" data-bv-excluded="false"/> 
	 	<input th:unless="${required}" th:required="${required}" th:name="${nameHidden}" th:hidden="true" th:field="*{__${fieldHidden}__}" th:id="${idHidden}"/>
	 	
		<input th:id="${idCampo}" type="text" th:name="${nameField} == null ? ${idCampo} : ${nameField}"
			   th:value="${field}" th:disabled="${disabled}" th:onblur="${onblur}" class="form-control typeahead"/>
	</div>

	<script th:inline="javascript">
		$(function() {
			var target=[];	 
			var url = [[${endpoint}]];
			var parametros = [[${keys}]];
			var possuiParametros = false;
		
			if(parametros != null) {
			   	url = url.concat(parametros);
			 	possuiParametros = true; 
			}
		   		
			target['objeto']     =   [[${idCampo}]];
			target['lista']      =   [[${lista}]];
			target['onSelected'] =   [[${onSelected}]];
			target['idHidden']   =   [[${idHidden}]];
			var possuiParametros =   parametros!=null; 
			var funcaoNome       =   [[${fncName}]];
			AutoComplete.prototype.autocomplete(url,target,funcaoNome,possuiParametros);
		});
	</script>
</div>

<!-- Autocomplete-transient -->
<div class="form-group" th:fragment="autocomplete-transient">
	<div>
		<label th:if="${idCampo}" class="control-label" th:classappend="${required} ? 'required' : ''" for="${name}"
			   th:id="__${idCampo}__+Label">
			<span th:text="#{${label}}"></span>
		</label>
		
		<label th:unless="${idCampo}" class="control-label" th:classappend="${required} ? 'required' : ''" for="${name}">
			<span th:text="#{${label}}"></span>
		</label>
	</div>

	<div class="form-group">
	 	<input th:if="${required}" th:hidden="true" th:field="${__${fieldHidden}__}" th:id="${idHidden}" data-bv-notempty="true" data-bv-excluded="false"/> 
	 	<input th:unless="${required}" th:hidden="true" th:field="${__${fieldHidden}__}" th:id="${idHidden}"/>
	 	
		<input th:id="${idCampo}" type="text" th:name="${nameField} == null ? ${idCampo} : ${nameField}"
			    th:field="${__${field}__}" th:disabled="${disabled}" th:onblur="${onblur}" class="form-control typeahead"/>
	</div>

	<script th:inline="javascript">
		$(function(){
			var target=[];	 
			var url = [[${endpoint}]];
			var parametros = [[${keys}]];
			var possuiParametros = false;   
			
			if(parametros != null) {
				url = url.concat(parametros);
				possuiParametros = true; 
			}
		  		
			target['objeto']     =   [[${idCampo}]];
			target['lista']      =   [[${lista}]];
			target['onSelected'] =   [[${onSelected}]];
			target['idHidden']   =   [[${idHidden}]];
			target['required'] =      [[${required}]];
			var possuiParametros =   parametros != null; 
			var funcaoNome       =   [[${fncName}]];
							
			AutoComplete.prototype.autocomplete(url,target,funcaoNome,possuiParametros);
		});
	</script>
</div>

<!-- Autocomplete-nofield -->
<div class="form-group" th:fragment="autocomplete-nofield">
	<div>
		<label th:if="${idCampo}" class="control-label" th:classappend="${required} ? 'required' : ''" for="${name}"
			   th:id="__${idCampo}__+Label">
			<span th:text="#{${label}}"></span>
		</label>
		
		<label th:unless="${idCampo}" class="control-label" th:classappend="${required} ? 'required' : ''" for="${name}">
			<span th:text="#{${label}}"></span>
		</label>
	</div>

	<div class="form-group">
	 	<input th:if="${required}" th:required="${required}" th:name="${nameHidden}" th:hidden="true" th:id="${idHidden}" data-bv-notempty="true" data-bv-excluded="false"/> 
	 	<input th:unless="${required}" th:required="${required}" th:hidden="true" th:id="${idHidden}"/> 
		<input th:id="${idCampo}" type="text" name="${idCampo}" class="form-control typeahead" th:onblur="${onblur}" th:disabled="${disabled}"/>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
			
		$(function() {
			var target=[];	 
			var url = [[${endpoint}]];
			var parametros = [[${keys}]];
			var possuiParametros = false;   
			
			if(parametros != null) {
			   	url = url.concat(parametros);
			 	possuiParametros = true; 
			}
		     		
		    target['objeto']     =   [[${idCampo}]];
			target['lista']      =   [[${lista}]];
			target['onSelected'] =   [[${onSelected}]];
			target['idHidden']   =   [[${idHidden}]];
			var possuiParametros =   parametros != null; 
			var funcaoNome       =   [[${fncName}]];
							
			AutoComplete.prototype.autocomplete(url, target, funcaoNome, possuiParametros);
		});
		/*]]>*/
	</script>
</div>

</body>
</html>