<!DOCTYPE html>
<html lang="pt-BR" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="https://github.com/mxab/thymeleaf-extras-data-attribute">
	<!-- Head -->
	<head th:fragment="htmlhead">
		<meta charset="UTF-8"></meta> <!--Default Charset-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!--IE Compatibility modes-->
		<meta name="viewport" content="width=device-width, initial-scale=1" /> <!--Mobile first-->
		<meta name="description" th:content="${descriptionPage}"/>
		<meta name="author" th:content="${author}"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<meta name="_csrf" th:content="${_csrf?.token}"/>
    	<meta name="_csrf_header" th:content="${_csrf?.headerName}"/>
		
		<title th:text="#{appTitle} + (${title} ? ' - ' + #{${title}} : '')"></title>
		
		<link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />
		
		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap/dist/css/bootstrap.min.css')}__}"/> 
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap/dist/css/bootstrap-theme.min.css')}__}"/>
		
		<!-- Font Awesome -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/font-awesome/css/font-awesome.min.css')}__}"/>
		
		<!-- Bootstrap Validator -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrapvalidator/dist/css/bootstrapValidator.min.css')}__}"/>
			
		<!-- Bootstrap DatePicker -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')}__}"/>
			
		<!-- Bootstrap FileInput -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-fileinput/css/fileinput.min.css')}__}"/>
		
		<!-- Bootstrap TimePicker -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-timepicker/css/bootstrap-timepicker.min.css')}__}"/>

		<!-- Awesome Bootstrap Checkbox -->
	    <link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')}__}"/>
		
		<!-- Bootstrap-table -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-table/dist/bootstrap-table.min.css')}__}"/>
		
		<!-- Bootstrap-Modal- -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-modal/css/bootstrap-modal.css')}__}"/> 
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-modal/css/bootstrap-modal-bs3patch.css')}__}"/>
		
		<!-- Menu Style -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/css/menu.css')}__}"/>

		<!-- MV Theme -->
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/css/menu-left.css')}__}" />
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/css/menu-top.css')}__}"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/css/components.css')}__}"/>
	    <link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/css/application.css')}__}"/>	
	    <link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/css/footer.css')}__}"/>	
	    
	    <!-- MV Theme Pep -->
		<link th:if="${session.externalRequest}" rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/css/mvpep.css')}__}"/> 	    
		
		<!-- Pace -->
  		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/pace/themes/blue/pace-theme-mac-osx.css')}__}"/>
  		<link rel="stylesheet" type="text/css" media="all" th:href="@{__${@mvcResourceUrlProvider.getForLookupPath('/css/progress.css')}__}"/>
		
		<!-- Jquery core Javascript -->
		<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/jquery/dist/jquery.min.js')}__}"></script>
	</head>

	<body>
      	<th:block th:fragment="scripts">
	        <!-- Bootstrap core JavaScript-->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap/dist/js/bootstrap.min.js')}__}"></script>
			
			<!-- Knockout JS -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/knockout/dist/knockout.js')}__}"></script>
			
			<!-- Bootstrap validator with brazilian locale JavaScript -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrapvalidator/dist/js/bootstrapValidator.min.js')}__}"></script>
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrapvalidator/dist/js/language/pt_BR.js')}__}"></script>
			
			<!-- Bootstrap Datepicker with brazilian locale -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}__}"></script>
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js')}__}"></script>
			
			<!-- Bootstrap FileInput with brazilian locale -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-fileinput/js/fileinput.min.js')}__}"></script>
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-fileinput/js/fileinput_locale_pt-BR.js')}__}"></script>
			
			<!-- Bootstrap Timepicker -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js')}__}"></script>
			
			<!-- Twitter Typeahead -->
	        <script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/typeahead.js/dist/typeahead.bundle.min.js')}__}"></script>
	        
	        <!-- Metis Menu Plugin JavaScript -->
		    <script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/metisMenu/dist/metisMenu.min.js')}__}"></script>
		    
		    <!-- Screenfull -->
		    <script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/screenfull/dist/screenfull.js')}__}"></script>
		    
			<!-- Bootstrap growl -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')}__}"></script>
			
		    <!-- Jquery mask -->
		    <script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/jQuery-Mask-Plugin/dist/jquery.mask.min.js')}__}"></script>
			
			<!-- Confirmation -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-confirmation2/bootstrap-confirmation.min.js')}__}"></script>			
			
			<!-- bootstrap-table -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-table/dist/bootstrap-table.min.js')}__}"></script>
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-table/dist/locale/bootstrap-table-pt-BR.min.js')}__}"></script>
			
			<!-- Bootstrap-Modal- -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-modal/js/bootstrap-modal.js')}__}"></script>
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/bootstrap-modal/js/bootstrap-modalmanager.js')}__}"></script>

			<!-- Pace: Configurações para a barra de progresso.-->
			<script>window.paceOptions = { ajax: { trackMethods : ['GET', 'POST']}};</script>
			<script type="text/javascript" charset='UTF-8' th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/lib/pace/pace.min.js')}__}"></script>
			
			 <!-- Modulo Components -->
			<script type="text/javascript" charset="UTF-8" th:src="@{__${@mvcResourceUrlProvider.getForLookupPath('/components/components.js')}__}"></script>
		</th:block>
	</body>
</html>