footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	height: 26px;
	-webkit-box-shadow: 0px -4px 3px #888888;
    -moz-box-shadow:    0px -4px 3px #888888;
    box-shadow:         0px -2px 1px #888888;
    clear: both;
}

footer .container-fluid, footer .container-fluid .row{
	height: 26px;
	background-color: #f8f8f8;	
}

.logged-user-icon{
	margin-top: 2px;
	width: 23px;
	height: 22px;
}

.logged-user-icon i{
	min-width: 13px;
	min-height: 13px;
	font-size: 13px;
}

.logged-user-name{
	color: black !important;
	font-size: 11px;
	line-height: 2.6;
	margin-left: 3%;
}