.user-media .user-link {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative
}

.user-media .user-link .user-img {
	margin: 10px auto
}

.user-media .user-link .user-label {
	position: absolute;
	top: -6px;
	right: 6px
}

.user-media .user-link {
	float: left
}

.user-media .user-link .user-img {
	margin: 10px
}

.user-media .user-link .user-label {
	top: 6px;
	right: 0
}

.user-media .media-body {
	display: block;
	float: left;
	margin-left: 12px
}

.user-media .media-body h5.media-heading {
	color: #000;
	padding-top: 8px;
	margin-bottom: 3px
}

.user-media .media-body ul.user-info li {
	color: #000
}

.user-media:before, .user-media:after {
	content: " ";
	display: table
}

.user-media:after {
	clear: both
}

.side-right .user-link .user-label {
	left: 6px;
	right: auto
}

.sidebar-left-mini .user-wrapper {
	position: absolute;
	top: 0;
	left: -100%;
	display: none;
	min-width: 220px
}

.user-media-toggleHover {
	display: none
}

.sidebar-left-mini .user-media-toggleHover {
	font-size: 18px;
	color: #000;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	display: inherit
}

.sidebar-left-mini .user-media:hover .user-wrapper {
	left: 100%;
	display: inherit;
	z-index: 9999
}

.sidebar-left-mini.side-right .user-media:hover .user-wrapper {
	left: auto;
	right: 100%
}