@import "utils/variables.less";
@import "utils/mixins.less";

@mobile-600: ~"(min-height : 600px)";
@desktop-768: ~"(min-width : 768px)";

.mv-color-blue {
	color: @mv-color-blue;
}

.mv-color-green {
	color: @mv-color-green;
}

.mv-color-pink {
	color: @mv-color-pink;
}

input, textarea {
	text-transform: uppercase;
}

.input-group-addon {
	font-size: 12px;
}

html, body, .container-fluid.main, .row.main {
	margin: 0;
	overflow: hidden;
	height:100%;
}

.container-fluid.main {
	padding-left: 0px;
	padding-right: 0px;
}

.fill {
	height: 100%;
}

.left-side {}

.right-side {
	height: 91%;
	overflow-y: auto;
}

.right-side-flex {
	height: 92%;
	overflow-y: hidden;
	padding: 0px;
}

.border-left {
	border-left: 2px solid #DCDCDC;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.top-buffer { 
	margin-top:24px;
}

.form {
	height: 100%;
}

.form-control {
	height: 30px;
	font-size: 12px;
}

@media @mobile-600 {
	.control-label {
		font-size: 12px;
		white-space: nowrap;
	}

	legend {
		font-size: 17px;
	}

	th {
		font-size: 12px;
		white-space: normal;
	}

	td {
		font-size: 12px;
		white-space: nowrap;
	}
}

.required:after { 
	color:red;
	content:" *"; 
}

.inverted-icon {
    .transform( scaleX(-1) );
    filter: FlipH;
    -ms-filter: "FlipH";
}	

.default-margin {
	padding-right: 15px;
	padding-left: 15px;
}

.table tbody tr {
	&:hover td {
	    background: #d8e6f4;    
	}
	&.selected td {
		background: #FDFDE8;    
	}
}

.fixed-table {
	table-layout:fixed;
	td {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.td-no-data {
	border-right: 1px solid #FFFFFF;
	text-align: right;
}

.modal-backdrop, .modal-backdrop.fade.in {
	.width-height(100%, 100%);	
	background: #EDEDED !important;
}

.btn {
    height: 30px;
    font-size: 12px;
}

.tooltip-inner {
	max-width: 325px;
}

.validationMessage {
	color: red;
}

input.tt-input:disabled {
	background-color: #eee !important;
}

input.tt-input {
	background-color: white !important;
}

.bootstrap-dialog-danger-title {
    background-color: #d9534f;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.error-popover{
   	background-color: #F2DEDE;
    border-color: #EED3D7;
    box-shadow: none;
    color: #B94A48;
    cursor: pointer;
    max-width: none;
    z-index: 1099;
    top: -19px !important;
}
		
.popover.top .error-arrow:after {
	border-top-color: #F2DEDE;
}

.tooltip-error {
  cursor: help;
  font-family: "Gill Sans", Impact, sans-serif;
  font-size: 14px;
  padding: 15px 20px;
  text-align: center;
  width: 200px;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.tooltip-error .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: -25px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.tooltip-error .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}  

/* CSS Triangles - see Trevor's post */
.tooltip-error .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}
  
.tooltip-error:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .tooltip-error .tooltip {
  display: none;
}

.lte8 .tooltip-error:hover .tooltip {
  display: block;
}

.page-header {
    margin: 0 0 12px;
    border-bottom: 1px dotted #e2e2e2;
    padding-bottom: 16px;
}

.page-header h1 {
	padding: 0;
	margin: 0 8px;
	font-size: 24px;
	font-weight: lighter;
	color: #2679b5;
}

.breadcrumbs-fixed {
	right: 0;
	left: 0; 
	top: auto; 
	left: 222px;
}

.breadcrumbs-fixed>.breadcrumb {
	z-index: 1024 !important; 
	width: 100% !important;
	position: fixed;
	border-radius: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
}

.breadcrumb>li+li:before {
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f105";
    color: #b2b6bf;
    position: relative;
    top: 1px;
}

.breadcrumb>li {
	display: inline-block;
	color: #2679b5;
}

.page-content {
	padding-top: 49px;
}