@import "utils/variables.less";
@import "utils/mixins.less";

@desktop: ~"( max-width :1024px)";

.link-style( @color ){
	color:@color;
	font-size: 10px;
}
.ul-active-style( @color ){
	background-color: @color;
	.box-shadow( 0, 1px, 3px, @mv-menu-left-color-division);
	color: @black;
	border-top: 1px solid white;
}

#menu {
	font-size: 12px;
	padding: 0;
	list-style: none;
	
	.active>a>.fa.arrow:before {
	    content: "\f107";
	}
	.affix {
	    position: fixed;
	    width: 220px;
	    overflow-x: hidden;
	    overflow-y: hidden;
	    -webkit-overflow-scrolling: touch;
	}
	.affix:hover {
	    overflow-y: scroll;
	}
	.fa.arrow {
		:before {
		    content: "\f104";
		}
	    float: right;
	    padding-top: 3px;
	    margin-right: 15px
	}
	ul, li, a {
	    padding: 0;
	}
	li, a {
	    position: relative;
	    display: block;
	}
	a, a:hover, a:focus, a:active {
		text-decoration: none;
	}
	ul {
		background-color: rgba(255, 255, 255, 0.3);
		list-style: none;
	}
	>li {
		:hover>a {
			background-color: #FFF;
		    outline: 0;
		    box-shadow: none;
		}
		.active ul.in {
			max-height: 300px;
			overflow-y: auto !important;
		}
		ul {
			a:hover {
			    background-color: rgba(0, 0, 0, 0.1);
			}
		}
		>a {
	    	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
			border-top: 1px solid rgba(0, 0, 0, 0.1);
	    	padding: 10px 0 10px 15px;
			text-shadow: none !important;	
		}
		>ul {
		    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
		    border-left-width: 0;
		    a {
				padding: 11px 0 11px 30px;
				span, i {
					.link-style( @mv-color-blue );
				}
				&:hover span, &:hover i{
					.link-style( @black );	
				}
			}
			>li {
			    border-bottom: 1px solid #e7e7e7;
			}
//			>li:hover {
//			    background-color: #b0cfe9;
//			    outline: 0;
//			    box-shadow: none;
//			}
		}
	}
	>li.active>a, >li>ul>li.active>a {
		.ul-active-style( @mv-menu-left-active-blue );
		&:hover {
			.ul-active-style( @mv-menu-left-active-blue-hover );
		}
	}
}

#left {
	.transition( all, .3s, ease-in-out );
	.width-height( 220px, 100% );
	position: relative;
	float: left;
	left: auto;
}

@media @desktop {
	#left {
		width: 200px;
	}
}

.sidebar-left-hidden #left {
	width: 0;
	visibility: hidden;
}

.sidebar-left-mini #left {
	width: 50px;
}

.sidebar-left-opened #left {
	left: 0;
}